@model IEnumerable<CodingCards.Models.Card>

<div class="containter">
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">
            <h2>Your Cards</h2>
            <p>
                <a asp-action="Create" class="btn btn-warning">Create New</a>
            </p>
            <table id="table" style="background: aliceblue;">
                <thead>
                    <tr>
                        <th data-breakpoints="xm">
                            @Html.DisplayNameFor(model => model.Question)
                        </th>
                        <th data-breakpoints="xm">
                            @Html.DisplayNameFor(model => model.Answer)
                        </th>
                        <th data-breakpoints="xm">
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th data-breakpoints="xm">
                            @Html.DisplayNameFor(model => model.NumberOfViews)
                        </th>
                        <th data-breakpoints="xm">
                            @Html.DisplayNameFor(model => model.NumberOfViewAnswers)
                        </th>
                        <th data-type="html" data-breakpoints="xs sm md"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Question)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Answer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfViews)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfViewAnswers)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-1">

        </div>
    </div>
        
        
    
</div>

@section Scripts
{
    
    <script>
        $(document).ready( function () {
            $('#table').DataTable();
        } );
    </script>
}
