@model IEnumerable<CodingCards.Models.AdminCardDTO>
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">

<div class="row btable">
    <div class="col-md-12">
        <table id="table"
               data-toggle="table"
               data-height="900"
               data-search="true"
               data-page-size="40"
               data-page-list="[40, 50, 100, 200, All]"
               data-pagination="true">
            <thead>
                <tr>

                    <th data-field="Question" data-sortable="true">
                        @Html.DisplayNameFor(model => model.Question)
                    </th>

                    <th data-field="Type" data-sortable="true">
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th data-field="Views" data-sortable="true">
                        Views
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Question)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfViewAnswers)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    @section Scripts{
        <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    }
